@page "/Prioridades/{PrioridadId:int}"
@inject PrioridadesService prioridadService
@rendermode InteractiveServer

<PageTitle>Registro Prioridades</PageTitle>
<EditForm Model="Prioridad" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro Prioridades</h3>
            </div>
            <div class="card-body">
                @*Prioridades Id*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Prioridad Id</label>
                    <div class="input-group mb-3">
                        <InputNumber @bind-Value="Prioridad.PrioridadId" @oninput="Ocultar" class="form-control" min="0" aria-describedby=" BotonBuscar" />
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="BotonBuscar"><i class="bi bi-search" /></button>
                    </div>
                </div>
                @*Descripción*@
                <div class="mb-3">
                    <label class="form-label" for="Soliciatdo Por">Descripci&oacute;n</label>
                    <InputText @bind-Value="Prioridad.Descripcion" @oninput="Ocultar" class="form-control" />
                    <ValidationMessage For="@(() => Prioridad.Descripcion)" />
                </div>
                @*Días Compromiso*@
                <div class="mb-3">
                    <label class="form-label" for="Días">D&iacute;as</label>
                    <InputNumber @bind-Value="Prioridad.DíasCompromiso" @oninput="Ocultar" class="form-check-label" step="1" min="1" max="31" />
                    <ValidationMessage For="@(() => Prioridad.DíasCompromiso)" />
                </div>
                @if (Mensaje != null)
                {
                    <p class="text-danger">@Mensaje</p>
                }
            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary bi bi-file-earmark-plus-fill fs-6" @onclick="Nuevo">Nuevo</button>
                    <button type="submit" class="btn btn-outline-success bi bi-floppy-fill">Guardar</button>

                </div>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    public int PrioridadId { get; set; }
    public Prioridades Prioridad { get; set; } = new Prioridades();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync() => Prioridad = await prioridadService.FindAsync(PrioridadId);
    public async Task Buscar()
    {
        var encontrado = await prioridadService.FindAsync(Prioridad.PrioridadId);
        if (encontrado != null)
        {
            Prioridad = encontrado;
            Mensaje = string.Empty;
        }
        else
            Mensaje = "No se encuentra el id";
    }

    public async Task Guardar()
    {
        var guardo = await prioridadService.Save(Prioridad);
        if (guardo)
        {
            Mensaje = "Se guardó correctamente";
            Nuevo();
        }
        else
            Mensaje = "Ya existe una prioridad";
    }

    public async Task Eliminar()
    {
        var eliminado = await prioridadService.Delete(Prioridad.PrioridadId);
        if (eliminado)
        {
            Mensaje = "Se eliminó correctamente";
            Nuevo();
        }
        else
            Mensaje = "Debe agregar un dato para eliminarlo";
    }

    public void Nuevo()
    {
        this.Prioridad = new Prioridades();
    }

    public void Ocultar()
    {
        Mensaje = string.Empty;
    }
}

